body {
    width: 890px;
    font-family: "Calibri Light", Verdana, sans-serif;
    border: 2px solid #a5b2b3;
    display: inline-block;
    text-align: center;
}

article {
    width: 23%;
    display: inline-block;
    float: left;
    margin: 0 8px;
    font-weight: 600;
}

article a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-top: 15px;
}

article a:hover {
    cursor: pointer;
}


article p {
    text-align: left;
}

article a img {
    width: 100%;
    margin-top: 15px;
}

article a img:hover {
    opacity: 0.4;
}